.gradient{
    background-image: linear-gradient(to right, #ffc5c5, #ffff99);
    padding-top: 60px;
    padding-bottom: 40px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.img{
    border-radius: 50%;
    width: 150px;
}

.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skill-img{
    margin-top: 30px;
    float: left;
    clear: both;
}

.code{
    padding-top: 60px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.codes{
    padding-top: 40px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.four{
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.last-container{
    background-image: linear-gradient(to right, #ffc5c5, #ffff99);   
}

.added{
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}